.favorite-post-button {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    outline: none;
    opacity: 0.5;
    padding: 0;
    transition: all 0.3s ease-in-out;

    &:hover,
    &.is-favorite {
        opacity: 1;
        transform: scale(2);
    }

    img {
        height: 32px;
        pointer-events: none;
    }
}